[user]
	name = Maythee Anegboonlap
	email = null@llun.in.th
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = true
[core]
  editor = vim
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
